# Working with lists

In [1]:
states = ["California", "Texas", "Florida", "New York"]

list indexing with positive numbers

In [2]:
states[0] , states[1]

('California', 'Texas')

list indexing with negative numbers

In [3]:
states[-1] , states[-2]

('New York', 'Florida')

In [4]:
for i in states:
    print(i)

California
Texas
Florida
New York

In [5]:
for i in states:
    if i == "Florida":
        print(i)

Florida

In [6]:
population = [39613493,39613495,39613499,39613490]

arranging lists as dict object

In [7]:
dict_states = {'States': states, 'Population':population}

In [8]:
dict_states

{'States': ['California', 'Texas', 'Florida', 'New York'],
 'Population': [39613493, 39613495, 39613499, 39613490]}

In [10]:
import pandas as pd

transform dict to dataframe

In [13]:
df_states = pd.DataFrame.from_dict(dict_states)
df_states

       States  Population
0  California    39613493
1       Texas    39613495
2     Florida    39613499
3    New York    39613490

Handling exception errors: Try-except

In [14]:
new_list = [2,4,6, 'California']

In [15]:
for i in new_list:
    print(i/2)

1.0
2.0
3.0

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [16]:
for i in new_list:
    try:
        print(i/2)
    except:
        print("The element is not a number")

1.0
2.0
3.0
The element is not a number

While-Break, useful for handling missing functionalities in beautifulSoup

In [17]:
n = 4
while n > 0:
    print(n)
    n = n-1

print('Loop end')

4
3
2
1
Loop end

In [18]:
n = 4
while n > 0:
    print(n)
    n = n-1
    if n==2:
        break

print('Loop end')

4
3
Loop end